In [1]:
import pandas as pd

df = pd.read_csv("../df_cleaned.csv", encoding='latin-1')
df.head()

,Sample ID,Patient Name,Gender,DOB,Test Name,Unit,Category,Result,DOS,Standard Test Name,Lab,Age,Outcome
0,118,Xalil Ahmad Mhamad,Male,16/04/1959,Blood Sugar,mg/dl,Diabetes Test,95,16/04/2023,Blood Sugar,Biolab,64.0,normal
1,126,Dyar Omar,Male,16/04/1986,Blood Sugar,mg/dl,Diabetes Test,86,16/04/2023,Blood Sugar,Biolab,37.0,normal
2,132,Fatah Mhamad Qadr,Male,16/04/1970,Blood Sugar,mg/dl,Diabetes Test,84,16/04/2023,Blood Sugar,Biolab,53.0,normal
3,177,Sesna Qubad Anwar,Female,17/04/1973,Blood Sugar,mg/dl,Diabetes Test,84,17/04/2023,Blood Sugar,Biolab,50.0,normal
4,179,Bayan Abdulla Abdurahman,Female,17/04/1981,Blood Sugar,mg/dl,Diabetes Test,96,17/04/2023,Blood Sugar,Biolab,42.0,normal

In [2]:
df.shape

(139737, 13)

In [3]:
# Prepare the dataframe for classification and create dataframes for each test combination

# First, let's examine the structure of our main dataset
print("=== MAIN DATASET STRUCTURE ===")
print(f"Shape: {df.shape}")
print(f"Columns: {df.columns.tolist()}")
print(f"Sample data:")
print(df.head())

# Check the age distribution
print(f"\n=== AGE DISTRIBUTION ===")
print(df['Age'].describe())

# Check the Lab distribution
print(f"\n=== LAB DISTRIBUTION ===")
print(df['Lab'].value_counts())
print(f"Lab percentages:")
print(df['Lab'].value_counts(normalize=True) * 100)

# Check the Gender distribution
print(f"\n=== GENDER DISTRIBUTION ===")
print(df['Gender'].value_counts())
print(f"Gender percentages:")
print(df['Gender'].value_counts(normalize=True) * 100)

# Check the outcome distribution
print(f"\n=== OUTCOME DISTRIBUTION ===")
print(df['Outcome'].value_counts())
print(f"Outcome percentages:")
print(df['Outcome'].value_counts(normalize=True) * 100)

# Check for null values in key columns
print(f"\n=== DATA QUALITY CHECK ===")
key_columns = ['Patient Name', 'Standard Test Name', 'Outcome', 'Result', 'Gender', 'Lab']
for col in key_columns:
    if col in df.columns:
        null_count = df[col].isnull().sum()
        print(f"{col}: {null_count} null values ({null_count/len(df)*100:.2f}%)")

# Get unique test names to understand what we're working with
print(f"\n=== AVAILABLE TESTS ===")
print(f"Total unique tests: {df['Standard Test Name'].nunique()}")
test_counts = df['Standard Test Name'].value_counts()
print(f"Top 10 most common tests:")
print(test_counts.head(10))

=== MAIN DATASET STRUCTURE ===
Shape: (139737, 13)
Columns: ['Sample ID', 'Patient Name', 'Gender', 'DOB', 'Test Name', 'Unit', 'Category', 'Result', 'DOS', 'Standard Test Name', 'Lab', 'Age', 'Outcome']
Sample data:
   Sample ID              Patient Name  Gender         DOB    Test Name  \
0        118        Xalil Ahmad Mhamad    Male  16/04/1959  Blood Sugar
1        126                 Dyar Omar    Male  16/04/1986  Blood Sugar
2        132         Fatah Mhamad Qadr    Male  16/04/1970  Blood Sugar
3        177         Sesna Qubad Anwar  Female  17/04/1973  Blood Sugar
4        179  Bayan Abdulla Abdurahman  Female  17/04/1981  Blood Sugar

    Unit       Category Result         DOS Standard Test Name     Lab   Age  \
0  mg/dl  Diabetes Test     95  16/04/2023        Blood Sugar  Biolab  64.0
1  mg/dl  Diabetes Test     86  16/04/2023        Blood Sugar  Biolab  37.0
2  mg/dl  Diabetes Test     84  16/04/2023        Blood Sugar  Biolab  53.0
3  mg/dl  Diabetes Test     84  17/04/2023        Blood Sugar  Biolab  50.0
4  mg/dl  Diabetes Test     96  17/04/2023        Blood Sugar  Biolab  42.0

  Outcome
0  normal
1  normal
2  normal
3  normal
4  normal

=== AGE DISTRIBUTION ===
count    139737.000000
mean         39.326127
std          19.854340
min           0.000000
25%          26.000000
50%          39.000000
75%          52.000000
max         106.000000
Name: Age, dtype: float64

=== LAB DISTRIBUTION ===
Lab
Biolab     74433
Hawkari    63003
Darugha     2301
Name: count, dtype: int64
Lab percentages:
Lab
Biolab     53.266493
Hawkari    45.086842
Darugha     1.646665
Name: proportion, dtype: float64

=== GENDER DISTRIBUTION ===
Gender
Female    88918
Male      50819
Name: count, dtype: int64
Gender percentages:
Gender
Female    63.632395
Male      36.367605
Name: proportion, dtype: float64

=== OUTCOME DISTRIBUTION ===
Outcome
normal      103085
abnormal     36652
Name: count, dtype: int64
Outcome percentages:
Outcome
normal      73.770726
abnormal    26.229274
Name: proportion, dtype: float64

=== DATA QUALITY CHECK ===
Patient Name: 0 null values (0.00%)
Standard Test Name: 0 null values (0.00%)
Outcome: 0 null values (0.00%)
Result: 0 null values (0.00%)
Gender: 0 null values (0.00%)
Lab: 0 null values (0.00%)

=== AVAILABLE TESTS ===
Total unique tests: 42
Top 10 most common tests:
Standard Test Name
TSH                            12452
Serum Creatinine                9268
Blood Glucose                   8977
Vitamin D3                      6841
Complete Blood Count            6163
C-Reactive Protein Titer        6019
HbA1c                           5088
Hepatitis B Surface Antigen     5025
Total Serum Bilirubin           5020
Hepatitis C Antibody            5007
Name: count, dtype: int64

In [5]:
df_2_test_candidates = pd.read_csv("../model_data_insight/classification_candidates.csv", encoding='latin-1')
df_3_test_candidates = pd.read_csv("../model_data_insight/classification_3_test_candidates.csv", encoding='latin-1')
df_4_test_candidates = pd.read_csv("../model_data_insight/classification_4_test_candidates.csv", encoding='latin-1')
display(df_2_test_candidates)
display(df_3_test_candidates)
display(df_4_test_candidates)

,Test 1,Test 2,Total Patients,Test 1 Abnormal %,Test 2 Abnormal %,Both Tests Abnormal %,Both Tests Normal %,Mixed Results %,Both_Abnormal_Numeric,Both_Normal_Numeric,Mixed_Numeric,Test1_Abnormal_Numeric,Test2_Abnormal_Numeric,Test1_Balance_Score,Test2_Balance_Score,Combined_Balance_Score
0,Serum Triglycerides,Serum HDL Cholesterol,1580,57.1%,38.0%,26.0%,37.4%,36.6%,26.0,37.4,36.6,57.1,38.0,92.9,88.0,90.45
1,Serum Triglycerides,Serum LDL Cholesterol,1903,57.4%,68.6%,39.9%,19.7%,40.4%,39.9,19.7,40.4,57.4,68.6,92.6,81.4,87.00
2,Serum HDL Cholesterol,Serum LDL Cholesterol,1602,37.9%,68.7%,23.6%,19.0%,57.4%,23.6,19.0,57.4,37.9,68.7,87.9,81.3,84.60
3,Blood Urea Nitrogen,Serum Creatinine,2870,68.8%,36.1%,18.6%,18.6%,62.7%,18.6,18.6,62.7,68.8,36.1,81.2,86.1,83.65
4,TSH,Serum Creatinine,3779,29.5%,36.8%,9.1%,48.8%,42.1%,9.1,48.8,42.1,29.5,36.8,79.5,86.8,83.15
5,HbA1c,TSH,1538,76.6%,32.6%,20.5%,20.9%,58.6%,20.5,20.9,58.6,76.6,32.6,73.4,82.6,78.00
6,TSH,Vitamin D3,2610,28.1%,72.2%,15.4%,21.3%,63.3%,15.4,21.3,63.3,28.1,72.2,78.1,77.8,77.95
7,TSH,Serum Ferritin,1843,31.5%,20.9%,4.8%,62.0%,33.2%,4.8,62.0,33.2,31.5,20.9,81.5,70.9,76.20

,Test 1,Test 2,Test 3,Total Patients,Test 1 Abnormal %,Test 2 Abnormal %,Test 3 Abnormal %,All Normal %,1 Abnormal %,2 Abnormal %,...,2+ Abnormal %,Two_Plus_Abnormal_Numeric,Test_1_Abnormal_Numeric,Test_2_Abnormal_Numeric,Test_3_Abnormal_Numeric,Patient_Count_Score,Balance_Score,Predictive_Score,Clinical_Score,Overall_Score
0,Serum Triglycerides,Serum HDL Cholesterol,Serum LDL Cholesterol,1573,52.9%,36.7%,68.8%,13.9%,32.8%,34.3%,...,53.3%,53.337572,52.9,36.7,68.8,32.479868,100.000000,94.993643,100,81.868378
1,Serum Cholesterol,Serum Triglycerides,Serum LDL Cholesterol,1884,0.1%,53.2%,68.9%,18.6%,40.6%,40.8%,...,40.8%,40.764331,0.1,53.2,68.9,38.901507,66.888889,100.000000,100,76.447599
2,Serum Cholesterol,Serum HDL Cholesterol,Serum LDL Cholesterol,1579,0.1%,36.6%,69.1%,18.4%,57.4%,24.2%,...,24.2%,24.192527,0.1,36.6,69.1,32.603758,66.888889,100.000000,100,74.873162
3,Serum Cholesterol,Serum Triglycerides,Serum HDL Cholesterol,1572,0.1%,53.0%,36.9%,36.9%,36.3%,26.7%,...,26.8%,26.781170,0.1,53.0,36.9,32.459219,66.888889,100.000000,100,74.837027

,Test 1,Test 2,Test 3,Test 4,Total Patients,Test 1 Abnormal %,Test 2 Abnormal %,Test 3 Abnormal %,Test 4 Abnormal %,All 4 Abnormal %,...,Test_1_Abnormal_Numeric,Test_2_Abnormal_Numeric,Test_3_Abnormal_Numeric,Test_4_Abnormal_Numeric,Patient_Count_Score,Balance_Score,Two_Plus_Abnormal_Numeric,Predictive_Score,Clinical_Score,Overall_Score
0,Serum Cholesterol,Serum Triglycerides,Serum HDL Cholesterol,Serum LDL Cholesterol,1568,0.0%,57.1%,38.0%,68.7%,0.0%,...,0.0,57.1,38.0,68.7,80.163599,75.0,52.6,96.1,100,87.8159
1,TSH,Serum Creatinine,Total Serum Bilirubin,Blood Glucose,1956,27.1%,38.3%,0.0%,0.0%,0.0%,...,27.1,38.3,0.0,0.0,100.000000,50.0,7.9,39.5,80,67.3750

In [6]:
# Function to create dataframes for each test combination
def create_test_combination_dataframes(df, classification_candidates):
    """
    Create dataframes for each test combination where patients have both tests
    """
    test_combination_data = {}
    
    print("üîç Creating dataframes for each test combination...")
    print("=" * 60)
    
    for idx, row in classification_candidates.iterrows():
        test1 = row['Test 1']
        test2 = row['Test 2']
        combination_name = f"{test1} + {test2}"
        
        print(f"\nüìä Processing: {combination_name}")
        
        # Get all patients who have both tests
        test1_patients = set(df[df['Standard Test Name'] == test1]['Patient Name'].unique())
        test2_patients = set(df[df['Standard Test Name'] == test2]['Patient Name'].unique())
        common_patients = test1_patients.intersection(test2_patients)
        
        print(f"   ‚Ä¢ Test 1 ({test1}): {len(test1_patients)} patients")
        print(f"   ‚Ä¢ Test 2 ({test2}): {len(test2_patients)} patients")
        print(f"   ‚Ä¢ Common patients: {len(common_patients)} patients")
        
        if len(common_patients) == 0:
            print(f"   ‚ö†Ô∏è No common patients found for {combination_name}")
            continue
            
        # Filter data for common patients and both tests
        combination_df = df[
            (df['Patient Name'].isin(common_patients)) & 
            (df['Standard Test Name'].isin([test1, test2]))
        ].copy()
        
        # Create a pivot table to get test results for each patient
        pivot_df = combination_df.pivot_table(
            index=['Patient Name', 'Age', 'Gender', 'Lab'],
            columns='Standard Test Name',
            values='Outcome',
            aggfunc='first'
        ).reset_index()
        
        # Drop patients with missing data for either test
        pivot_df = pivot_df.dropna(subset=[test1, test2])
        
        print(f"   ‚Ä¢ Final dataset size: {len(pivot_df)} patients")
        
        # Store the dataframe with metadata
        test_combination_data[combination_name] = {
            'dataframe': pivot_df,
            'test1': test1,
            'test2': test2,
            'patient_count': len(pivot_df),
            'test1_abnormal_rate': (pivot_df[test1] == 'abnormal').mean() * 100,
            'test2_abnormal_rate': (pivot_df[test2] == 'abnormal').mean() * 100
        }
        
        print(f"   ‚Ä¢ {test1} abnormal rate: {test_combination_data[combination_name]['test1_abnormal_rate']:.1f}%")
        print(f"   ‚Ä¢ {test2} abnormal rate: {test_combination_data[combination_name]['test2_abnormal_rate']:.1f}%")
    
    return test_combination_data

# Create the test combination dataframes
test_combinations = create_test_combination_dataframes(df, df_2_test_candidates)

üîç Creating dataframes for each test combination...
============================================================

üìä Processing: Serum Triglycerides + Serum HDL Cholesterol
   ‚Ä¢ Test 1 (Serum Triglycerides): 2638 patients
   ‚Ä¢ Test 2 (Serum HDL Cholesterol): 1606 patients
   ‚Ä¢ Common patients: 1578 patients
   ‚Ä¢ Final dataset size: 1696 patients
   ‚Ä¢ Serum Triglycerides abnormal rate: 53.1%
   ‚Ä¢ Serum HDL Cholesterol abnormal rate: 37.1%

üìä Processing: Serum Triglycerides + Serum LDL Cholesterol
   ‚Ä¢ Test 1 (Serum Triglycerides): 2638 patients
   ‚Ä¢ Test 2 (Serum LDL Cholesterol): 2008 patients
   ‚Ä¢ Common patients: 1901 patients
   ‚Ä¢ Final dataset size: 2060 patients
   ‚Ä¢ Serum Triglycerides abnormal rate: 53.5%
   ‚Ä¢ Serum LDL Cholesterol abnormal rate: 68.3%

üìä Processing: Serum HDL Cholesterol + Serum LDL Cholesterol
   ‚Ä¢ Test 1 (Serum HDL Cholesterol): 1606 patients
   ‚Ä¢ Test 2 (Serum LDL Cholesterol): 2008 patients
   ‚Ä¢ Common patients: 1600 patients
   ‚Ä¢ Final dataset size: 1722 patients
   ‚Ä¢ Serum HDL Cholesterol abnormal rate: 36.9%
   ‚Ä¢ Serum LDL Cholesterol abnormal rate: 68.3%

üìä Processing: Blood Urea Nitrogen + Serum Creatinine
   ‚Ä¢ Test 1 (Blood Urea Nitrogen): 3032 patients
   ‚Ä¢ Test 2 (Serum Creatinine): 7650 patients
   ‚Ä¢ Common patients: 2867 patients
   ‚Ä¢ Final dataset size: 2998 patients
   ‚Ä¢ Blood Urea Nitrogen abnormal rate: 65.5%
   ‚Ä¢ Serum Creatinine abnormal rate: 35.6%

üìä Processing: TSH + Serum Creatinine
   ‚Ä¢ Test 1 (TSH): 10017 patients
   ‚Ä¢ Test 2 (Serum Creatinine): 7650 patients
   ‚Ä¢ Common patients: 3774 patients
   ‚Ä¢ Final dataset size: 3741 patients
   ‚Ä¢ TSH abnormal rate: 25.3%
   ‚Ä¢ Serum Creatinine abnormal rate: 37.0%

üìä Processing: HbA1c + TSH
   ‚Ä¢ Test 1 (HbA1c): 3919 patients
   ‚Ä¢ Test 2 (TSH): 10017 patients
   ‚Ä¢ Common patients: 1537 patients
   ‚Ä¢ Final dataset size: 1522 patients
   ‚Ä¢ HbA1c abnormal rate: 74.4%
   ‚Ä¢ TSH abnormal rate: 27.9%

üìä Processing: TSH + Vitamin D3
   ‚Ä¢ Test 1 (TSH): 10017 patients
   ‚Ä¢ Test 2 (Vitamin D3): 6006 patients
   ‚Ä¢ Common patients: 2608 patients
   ‚Ä¢ Final dataset size: 2576 patients
   ‚Ä¢ TSH abnormal rate: 23.2%
   ‚Ä¢ Vitamin D3 abnormal rate: 75.2%

üìä Processing: TSH + Serum Ferritin
   ‚Ä¢ Test 1 (TSH): 10017 patients
   ‚Ä¢ Test 2 (Serum Ferritin): 3163 patients
   ‚Ä¢ Common patients: 1843 patients
   ‚Ä¢ Final dataset size: 1838 patients
   ‚Ä¢ TSH abnormal rate: 27.0%
   ‚Ä¢ Serum Ferritin abnormal rate: 21.1%

In [14]:
import os

# Create the directory if it doesn't exist
output_dir = "2_tests_data"
os.makedirs(output_dir, exist_ok=True)

print("üìÅ Exporting test combination datasets...")
print("=" * 60)

# Export each test combination dataset
for combination_name, data_info in test_combinations.items():
    # Clean the combination name for filename (replace special characters)
    clean_name = combination_name.replace(" + ", "_").replace(" ", "_").replace("(", "").replace(")", "")
    filename = f"{clean_name}_dataset.csv"
    filepath = os.path.join(output_dir, filename)
    
    # Get the dataframe and add Result columns
    df_export = data_info['dataframe'].copy()
    
    # Get original data for this combination to extract Results
    test1 = data_info['test1']
    test2 = data_info['test2']
    patient_list = df_export['Patient Name'].unique()
    
    # Get results for both tests
    test1_results = df[(df['Standard Test Name'] == test1) & (df['Patient Name'].isin(patient_list))][['Patient Name', 'Result']].rename(columns={'Result': f'{test1}_Result'})
    test2_results = df[(df['Standard Test Name'] == test2) & (df['Patient Name'].isin(patient_list))][['Patient Name', 'Result']].rename(columns={'Result': f'{test2}_Result'})
    
    # Merge results back to the export dataframe
    df_export = df_export.merge(test1_results, on='Patient Name', how='left')
    df_export = df_export.merge(test2_results, on='Patient Name', how='left')
    
    # Map Lab to Location
    df_export['Location'] = df_export['Lab'].apply(lambda x: 'Sulaymaniyah' if x == 'Darugha' else 'Halabja')
    
    # Drop the Lab column
    df_export = df_export.drop('Lab', axis=1)
    
    # Reorder columns to have Location after Gender
    cols = df_export.columns.tolist()
    # Remove Location from its current position
    cols.remove('Location')
    # Find Gender position and insert Location after it
    gender_idx = cols.index('Gender')
    cols.insert(gender_idx + 1, 'Location')
    df_export = df_export[cols]
    
    # Remove duplicates before exporting
    initial_count = len(df_export)
    df_export = df_export.drop_duplicates()
    final_count = len(df_export)
    duplicates_removed = initial_count - final_count
    
    # Export the dataframe
    df_export.to_csv(filepath, index=False, encoding='utf-8')
    
    print(f"‚úÖ Exported: {combination_name}")
    print(f"   üìÑ File: {filename}")
    print(f"   üìä Initial patients: {initial_count}")
    print(f"   üóëÔ∏è Duplicates removed: {duplicates_removed}")
    print(f"   üìä Final patients: {final_count}")
    print(f"   üî¨ Test 1 ({data_info['test1']}): {data_info['test1_abnormal_rate']:.1f}% abnormal")
    print(f"   üî¨ Test 2 ({data_info['test2']}): {data_info['test2_abnormal_rate']:.1f}% abnormal")
    print(f"   üìç Location mapping: Lab -> {'Sulaymaniyah/Halabja' if len(df_export['Location'].unique()) > 1 else df_export['Location'].iloc[0]}")
    print()

print(f"üéâ All datasets exported to '{output_dir}' folder!")
print(f"üìã Total datasets exported: {len(test_combinations)}")

# Display summary of exported files
print("\nüìã EXPORTED FILES SUMMARY:")
print("-" * 40)
for i, (combination_name, data_info) in enumerate(test_combinations.items(), 1):
    clean_name = combination_name.replace(" + ", "_").replace(" ", "_").replace("(", "").replace(")", "")
    filename = f"{clean_name}_dataset.csv"
    print(f"{i}. {filename} ({data_info['patient_count']} patients)")

üìÅ Exporting test combination datasets...
============================================================
‚úÖ Exported: Serum Triglycerides + Serum HDL Cholesterol
   üìÑ File: Serum_Triglycerides_Serum_HDL_Cholesterol_dataset.csv
   üìä Initial patients: 6968
   üóëÔ∏è Duplicates removed: 1024
   üìä Final patients: 5944
   üî¨ Test 1 (Serum Triglycerides): 53.1% abnormal
   üî¨ Test 2 (Serum HDL Cholesterol): 37.1% abnormal
   üìç Location mapping: Lab -> Halabja

‚úÖ Exported: Serum Triglycerides + Serum LDL Cholesterol
   üìÑ File: Serum_Triglycerides_Serum_LDL_Cholesterol_dataset.csv
   üìä Initial patients: 9237
   üóëÔ∏è Duplicates removed: 636
   üìä Final patients: 8601
   üî¨ Test 1 (Serum Triglycerides): 53.5% abnormal
   üî¨ Test 2 (Serum LDL Cholesterol): 68.3% abnormal
   üìç Location mapping: Lab -> Halabja

‚úÖ Exported: Serum HDL Cholesterol + Serum LDL Cholesterol
   üìÑ File: Serum_HDL_Cholesterol_Serum_LDL_Cholesterol_dataset.csv
   üìä Initial patients: 6476
   üóëÔ∏è Duplicates removed: 1212
   üìä Final patients: 5264
   üî¨ Test 1 (Serum HDL Cholesterol): 36.9% abnormal
   üî¨ Test 2 (Serum LDL Cholesterol): 68.3% abnormal
   üìç Location mapping: Lab -> Halabja

‚úÖ Exported: Blood Urea Nitrogen + Serum Creatinine
   üìÑ File: Blood_Urea_Nitrogen_Serum_Creatinine_dataset.csv
   üìä Initial patients: 14693
   üóëÔ∏è Duplicates removed: 5389
   üìä Final patients: 9304
   üî¨ Test 1 (Blood Urea Nitrogen): 65.5% abnormal
   üî¨ Test 2 (Serum Creatinine): 35.6% abnormal
   üìç Location mapping: Lab -> Halabja

‚úÖ Exported: TSH + Serum Creatinine
   üìÑ File: TSH_Serum_Creatinine_dataset.csv
   üìä Initial patients: 7138
   üóëÔ∏è Duplicates removed: 1111
   üìä Final patients: 6027
   üî¨ Test 1 (TSH): 25.3% abnormal
   üî¨ Test 2 (Serum Creatinine): 37.0% abnormal
   üìç Location mapping: Lab -> Halabja

‚úÖ Exported: HbA1c + TSH
   üìÑ File: HbA1c_TSH_dataset.csv
   üìä Initial patients: 3623
   üóëÔ∏è Duplicates removed: 66
   üìä Final patients: 3557
   üî¨ Test 1 (HbA1c): 74.4% abnormal
   üî¨ Test 2 (TSH): 27.9% abnormal
   üìç Location mapping: Lab -> Sulaymaniyah/Halabja

‚úÖ Exported: TSH + Vitamin D3
   üìÑ File: TSH_Vitamin_D3_dataset.csv
   üìä Initial patients: 5132
   üóëÔ∏è Duplicates removed: 45
   üìä Final patients: 5087
   üî¨ Test 1 (TSH): 23.2% abnormal
   üî¨ Test 2 (Vitamin D3): 75.2% abnormal
   üìç Location mapping: Lab -> Sulaymaniyah/Halabja

‚úÖ Exported: TSH + Serum Ferritin
   üìÑ File: TSH_Serum_Ferritin_dataset.csv
   üìä Initial patients: 3451
   üóëÔ∏è Duplicates removed: 33
   üìä Final patients: 3418
   üî¨ Test 1 (TSH): 27.0% abnormal
   üî¨ Test 2 (Serum Ferritin): 21.1% abnormal
   üìç Location mapping: Lab -> Sulaymaniyah/Halabja

üéâ All datasets exported to '2_tests_data' folder!
üìã Total datasets exported: 8

üìã EXPORTED FILES SUMMARY:
----------------------------------------
1. Serum_Triglycerides_Serum_HDL_Cholesterol_dataset.csv (1696 patients)
2. Serum_Triglycerides_Serum_LDL_Cholesterol_dataset.csv (2060 patients)
3. Serum_HDL_Cholesterol_Serum_LDL_Cholesterol_dataset.csv (1722 patients)
4. Blood_Urea_Nitrogen_Serum_Creatinine_dataset.csv (2998 patients)
5. TSH_Serum_Creatinine_dataset.csv (3741 patients)
6. HbA1c_TSH_dataset.csv (1522 patients)
7. TSH_Vitamin_D3_dataset.csv (2576 patients)
8. TSH_Serum_Ferritin_dataset.csv (1838 patients)

In [10]:
# Function to create dataframes for each three-test combination
def create_three_test_combination_dataframes(df, classification_3_test_candidate):
    """
    Create dataframes for each three-test combination where patients have all three tests
    """
    test_combination_data = {}
    
    print("üîç Creating dataframes for each three-test combination...")
    print("=" * 80)
    
    # Get top 5 combinations as requested
    top_5_combinations = classification_3_test_candidate.head(5)
    
    for idx, row in top_5_combinations.iterrows():
        test1 = row['Test 1']
        test2 = row['Test 2']
        test3 = row['Test 3']
        combination_name = f"{test1} + {test2} + {test3}"
        
        print(f"\nüìä Processing: {combination_name}")
        
        # Get all patients who have all three tests
        test1_patients = set(df[df['Standard Test Name'] == test1]['Patient Name'].unique())
        test2_patients = set(df[df['Standard Test Name'] == test2]['Patient Name'].unique())
        test3_patients = set(df[df['Standard Test Name'] == test3]['Patient Name'].unique())
        common_patients = test1_patients.intersection(test2_patients).intersection(test3_patients)
        
        print(f"   ‚Ä¢ Test 1 ({test1}): {len(test1_patients)} patients")
        print(f"   ‚Ä¢ Test 2 ({test2}): {len(test2_patients)} patients")
        print(f"   ‚Ä¢ Test 3 ({test3}): {len(test3_patients)} patients")
        print(f"   ‚Ä¢ Common patients: {len(common_patients)} patients")
        
        if len(common_patients) == 0:
            print(f"   ‚ö†Ô∏è No common patients found for {combination_name}")
            continue
            
        # Filter data for common patients and all three tests
        combination_df = df[
            (df['Patient Name'].isin(common_patients)) & 
            (df['Standard Test Name'].isin([test1, test2, test3]))
        ].copy()
        
        # Create a pivot table to get test results for each patient
        pivot_df = combination_df.pivot_table(
            index=['Patient Name', 'Age', 'Gender', 'Lab'],
            columns='Standard Test Name',
            values='Outcome',
            aggfunc='first'
        ).reset_index()
        
        # Drop patients with missing data for any test
        pivot_df = pivot_df.dropna(subset=[test1, test2, test3])
        
        print(f"   ‚Ä¢ Final dataset size: {len(pivot_df)} patients")
        
        # Calculate abnormal rates
        test1_abnormal_rate = (pivot_df[test1] == 'abnormal').mean() * 100
        test2_abnormal_rate = (pivot_df[test2] == 'abnormal').mean() * 100
        test3_abnormal_rate = (pivot_df[test3] == 'abnormal').mean() * 100
        
        # Store the dataframe with metadata
        test_combination_data[combination_name] = {
            'dataframe': pivot_df,
            'test1': test1,
            'test2': test2,
            'test3': test3,
            'patient_count': len(pivot_df),
            'test1_abnormal_rate': test1_abnormal_rate,
            'test2_abnormal_rate': test2_abnormal_rate,
            'test3_abnormal_rate': test3_abnormal_rate,
            'overall_score': row['Overall_Score']
        }
        
        print(f"   ‚Ä¢ {test1} abnormal rate: {test1_abnormal_rate:.1f}%")
        print(f"   ‚Ä¢ {test2} abnormal rate: {test2_abnormal_rate:.1f}%")
        print(f"   ‚Ä¢ {test3} abnormal rate: {test3_abnormal_rate:.1f}%")
        print(f"   ‚Ä¢ Overall Score: {row['Overall_Score']:.1f}")
    
    return test_combination_data

# Create the test combination dataframes
three_test_combinations = create_three_test_combination_dataframes(df, df_3_test_candidates)

üîç Creating dataframes for each three-test combination...
================================================================================

üìä Processing: Serum Triglycerides + Serum HDL Cholesterol + Serum LDL Cholesterol
   ‚Ä¢ Test 1 (Serum Triglycerides): 2638 patients
   ‚Ä¢ Test 2 (Serum HDL Cholesterol): 1606 patients
   ‚Ä¢ Test 3 (Serum LDL Cholesterol): 2008 patients
   ‚Ä¢ Common patients: 1573 patients
   ‚Ä¢ Final dataset size: 1691 patients
   ‚Ä¢ Serum Triglycerides abnormal rate: 53.0%
   ‚Ä¢ Serum HDL Cholesterol abnormal rate: 37.0%
   ‚Ä¢ Serum LDL Cholesterol abnormal rate: 68.2%
   ‚Ä¢ Overall Score: 81.9

üìä Processing: Serum Cholesterol + Serum Triglycerides + Serum LDL Cholesterol
   ‚Ä¢ Test 1 (Serum Cholesterol): 2581 patients
   ‚Ä¢ Test 2 (Serum Triglycerides): 2638 patients
   ‚Ä¢ Test 3 (Serum LDL Cholesterol): 2008 patients
   ‚Ä¢ Common patients: 1884 patients
   ‚Ä¢ Final dataset size: 2037 patients
   ‚Ä¢ Serum Cholesterol abnormal rate: 0.0%
   ‚Ä¢ Serum Triglycerides abnormal rate: 53.6%
   ‚Ä¢ Serum LDL Cholesterol abnormal rate: 68.4%
   ‚Ä¢ Overall Score: 76.4

üìä Processing: Serum Cholesterol + Serum HDL Cholesterol + Serum LDL Cholesterol
   ‚Ä¢ Test 1 (Serum Cholesterol): 2581 patients
   ‚Ä¢ Test 2 (Serum HDL Cholesterol): 1606 patients
   ‚Ä¢ Test 3 (Serum LDL Cholesterol): 2008 patients
   ‚Ä¢ Common patients: 1579 patients
   ‚Ä¢ Final dataset size: 1698 patients
   ‚Ä¢ Serum Cholesterol abnormal rate: 0.1%
   ‚Ä¢ Serum HDL Cholesterol abnormal rate: 36.8%
   ‚Ä¢ Serum LDL Cholesterol abnormal rate: 68.5%
   ‚Ä¢ Overall Score: 74.9

üìä Processing: Serum Cholesterol + Serum Triglycerides + Serum HDL Cholesterol
   ‚Ä¢ Test 1 (Serum Cholesterol): 2581 patients
   ‚Ä¢ Test 2 (Serum Triglycerides): 2638 patients
   ‚Ä¢ Test 3 (Serum HDL Cholesterol): 1606 patients
   ‚Ä¢ Common patients: 1572 patients
   ‚Ä¢ Final dataset size: 1688 patients
   ‚Ä¢ Serum Cholesterol abnormal rate: 0.1%
   ‚Ä¢ Serum Triglycerides abnormal rate: 53.2%
   ‚Ä¢ Serum HDL Cholesterol abnormal rate: 37.1%
   ‚Ä¢ Overall Score: 74.8

In [13]:
import os

# Create the directory if it doesn't exist
output_dir = "3_tests_data"
os.makedirs(output_dir, exist_ok=True)

print("üìÅ Exporting three-test combination datasets...")
print("=" * 80)

# Export each three-test combination dataset
for combination_name, data_info in three_test_combinations.items():
    # Clean the combination name for filename (replace special characters)
    clean_name = combination_name.replace(" + ", "_").replace(" ", "_").replace("(", "").replace(")", "")
    filename = f"{clean_name}_dataset.csv"
    filepath = os.path.join(output_dir, filename)
    
    # Get the dataframe and add Result columns
    df_export = data_info['dataframe'].copy()
    
    # Get original data for this combination to extract Results
    test1 = data_info['test1']
    test2 = data_info['test2']
    test3 = data_info['test3']
    patient_list = df_export['Patient Name'].unique()
    
    # Get results for all three tests
    test1_results = df[(df['Standard Test Name'] == test1) & (df['Patient Name'].isin(patient_list))][['Patient Name', 'Result']].rename(columns={'Result': f'{test1}_Result'})
    test2_results = df[(df['Standard Test Name'] == test2) & (df['Patient Name'].isin(patient_list))][['Patient Name', 'Result']].rename(columns={'Result': f'{test2}_Result'})
    test3_results = df[(df['Standard Test Name'] == test3) & (df['Patient Name'].isin(patient_list))][['Patient Name', 'Result']].rename(columns={'Result': f'{test3}_Result'})
    
    # Merge results back to the export dataframe
    df_export = df_export.merge(test1_results, on='Patient Name', how='left')
    df_export = df_export.merge(test2_results, on='Patient Name', how='left')
    df_export = df_export.merge(test3_results, on='Patient Name', how='left')
    
    # Map Lab to Location
    df_export['Location'] = df_export['Lab'].apply(lambda x: 'Sulaymaniyah' if x == 'Darugha' else 'Halabja')
    
    # Drop the Lab column
    df_export = df_export.drop('Lab', axis=1)
    
    # Reorder columns to have Location after Gender
    cols = df_export.columns.tolist()
    # Remove Location from its current position
    cols.remove('Location')
    # Find Gender position and insert Location after it
    gender_idx = cols.index('Gender')
    cols.insert(gender_idx + 1, 'Location')
    df_export = df_export[cols]
    
    # Remove duplicates before exporting
    initial_count = len(df_export)
    df_export = df_export.drop_duplicates()
    final_count = len(df_export)
    duplicates_removed = initial_count - final_count
    
    # Export the dataframe
    df_export.to_csv(filepath, index=False, encoding='utf-8')
    
    print(f"‚úÖ Exported: {combination_name}")
    print(f"   üìÑ File: {filename}")
    print(f"   üìä Initial patients: {initial_count}")
    print(f"   üóëÔ∏è Duplicates removed: {duplicates_removed}")
    print(f"   üìä Final patients: {final_count}")
    print(f"   üî¨ Test 1 ({data_info['test1']}): {data_info['test1_abnormal_rate']:.1f}% abnormal")
    print(f"   üî¨ Test 2 ({data_info['test2']}): {data_info['test2_abnormal_rate']:.1f}% abnormal")
    print(f"   üî¨ Test 3 ({data_info['test3']}): {data_info['test3_abnormal_rate']:.1f}% abnormal")
    print(f"   üìà Overall Score: {data_info['overall_score']:.1f}")
    print(f"   üìç Location mapping: Lab -> {'Sulaymaniyah/Halabja' if len(df_export['Location'].unique()) > 1 else df_export['Location'].iloc[0]}")
    print()

print(f"üéâ All three-test combination datasets exported to '{output_dir}' folder!")
print(f"üìã Total datasets exported: {len(three_test_combinations)}")

# Display summary of exported files
print("\nüìã EXPORTED FILES SUMMARY:")
print("-" * 50)
for i, (combination_name, data_info) in enumerate(three_test_combinations.items(), 1):
    clean_name = combination_name.replace(" + ", "_").replace(" ", "_").replace("(", "").replace(")", "")
    filename = f"{clean_name}_dataset.csv"
    print(f"{i}. {filename} ({data_info['patient_count']} patients, Score: {data_info['overall_score']:.1f})")

üìÅ Exporting three-test combination datasets...
================================================================================
‚úÖ Exported: Serum Triglycerides + Serum HDL Cholesterol + Serum LDL Cholesterol
   üìÑ File: Serum_Triglycerides_Serum_HDL_Cholesterol_Serum_LDL_Cholesterol_dataset.csv
   üìä Initial patients: 66520
   üóëÔ∏è Duplicates removed: 27407
   üìä Final patients: 39113
   üî¨ Test 1 (Serum Triglycerides): 53.0% abnormal
   üî¨ Test 2 (Serum HDL Cholesterol): 37.0% abnormal
   üî¨ Test 3 (Serum LDL Cholesterol): 68.2% abnormal
   üìà Overall Score: 81.9
   üìç Location mapping: Lab -> Halabja

‚úÖ Exported: Serum Cholesterol + Serum Triglycerides + Serum LDL Cholesterol
   üìÑ File: Serum_Cholesterol_Serum_Triglycerides_Serum_LDL_Cholesterol_dataset.csv
   üìä Initial patients: 87884
   üóëÔ∏è Duplicates removed: 28569
   üìä Final patients: 59315
   üî¨ Test 1 (Serum Cholesterol): 0.0% abnormal
   üî¨ Test 2 (Serum Triglycerides): 53.6% abnormal
   üî¨ Test 3 (Serum LDL Cholesterol): 68.4% abnormal
   üìà Overall Score: 76.4
   üìç Location mapping: Lab -> Halabja

‚úÖ Exported: Serum Cholesterol + Serum HDL Cholesterol + Serum LDL Cholesterol
   üìÑ File: Serum_Cholesterol_Serum_HDL_Cholesterol_Serum_LDL_Cholesterol_dataset.csv
   üìä Initial patients: 63436
   üóëÔ∏è Duplicates removed: 32203
   üìä Final patients: 31233
   üî¨ Test 1 (Serum Cholesterol): 0.1% abnormal
   üî¨ Test 2 (Serum HDL Cholesterol): 36.8% abnormal
   üî¨ Test 3 (Serum LDL Cholesterol): 68.5% abnormal
   üìà Overall Score: 74.9
   üìç Location mapping: Lab -> Halabja

‚úÖ Exported: Serum Cholesterol + Serum Triglycerides + Serum HDL Cholesterol
   üìÑ File: Serum_Cholesterol_Serum_Triglycerides_Serum_HDL_Cholesterol_dataset.csv
   üìä Initial patients: 67072
   üóëÔ∏è Duplicates removed: 29729
   üìä Final patients: 37343
   üî¨ Test 1 (Serum Cholesterol): 0.1% abnormal
   üî¨ Test 2 (Serum Triglycerides): 53.2% abnormal
   üî¨ Test 3 (Serum HDL Cholesterol): 37.1% abnormal
   üìà Overall Score: 74.8
   üìç Location mapping: Lab -> Halabja

üéâ All three-test combination datasets exported to '3_tests_data' folder!
üìã Total datasets exported: 4

üìã EXPORTED FILES SUMMARY:
--------------------------------------------------
1. Serum_Triglycerides_Serum_HDL_Cholesterol_Serum_LDL_Cholesterol_dataset.csv (1691 patients, Score: 81.9)
2. Serum_Cholesterol_Serum_Triglycerides_Serum_LDL_Cholesterol_dataset.csv (2037 patients, Score: 76.4)
3. Serum_Cholesterol_Serum_HDL_Cholesterol_Serum_LDL_Cholesterol_dataset.csv (1698 patients, Score: 74.9)
4. Serum_Cholesterol_Serum_Triglycerides_Serum_HDL_Cholesterol_dataset.csv (1688 patients, Score: 74.8)

In [15]:
# Function to create dataframes for each four-test combination
def create_four_test_combination_dataframes(df, classification_4_test_candidate):
    """
    Create dataframes for each four-test combination where patients have all four tests
    """
    test_combination_data = {}
    
    print("üîç Creating dataframes for each four-test combination...")
    print("=" * 80)
    
    # Get all 2 combinations as available
    all_combinations = classification_4_test_candidate.head(2)
    
    for idx, row in all_combinations.iterrows():
        test1 = row['Test 1']
        test2 = row['Test 2']
        test3 = row['Test 3']
        test4 = row['Test 4']
        combination_name = f"{test1} + {test2} + {test3} + {test4}"
        
        print(f"\nüìä Processing: {combination_name}")
        
        # Get all patients who have all four tests
        test1_patients = set(df[df['Standard Test Name'] == test1]['Patient Name'].unique())
        test2_patients = set(df[df['Standard Test Name'] == test2]['Patient Name'].unique())
        test3_patients = set(df[df['Standard Test Name'] == test3]['Patient Name'].unique())
        test4_patients = set(df[df['Standard Test Name'] == test4]['Patient Name'].unique())
        common_patients = test1_patients.intersection(test2_patients).intersection(test3_patients).intersection(test4_patients)
        
        print(f"   ‚Ä¢ Test 1 ({test1}): {len(test1_patients)} patients")
        print(f"   ‚Ä¢ Test 2 ({test2}): {len(test2_patients)} patients")
        print(f"   ‚Ä¢ Test 3 ({test3}): {len(test3_patients)} patients")
        print(f"   ‚Ä¢ Test 4 ({test4}): {len(test4_patients)} patients")
        print(f"   ‚Ä¢ Common patients: {len(common_patients)} patients")
        
        if len(common_patients) == 0:
            print(f"   ‚ö†Ô∏è No common patients found for {combination_name}")
            continue
            
        # Filter data for common patients and all four tests
        combination_df = df[
            (df['Patient Name'].isin(common_patients)) & 
            (df['Standard Test Name'].isin([test1, test2, test3, test4]))
        ].copy()
        
        # Create a pivot table to get test results for each patient
        pivot_df = combination_df.pivot_table(
            index=['Patient Name', 'Age', 'Gender', 'Lab'],
            columns='Standard Test Name',
            values='Outcome',
            aggfunc='first'
        ).reset_index()
        
        # Drop patients with missing data for any test
        pivot_df = pivot_df.dropna(subset=[test1, test2, test3, test4])
        
        print(f"   ‚Ä¢ Final dataset size: {len(pivot_df)} patients")
        
        # Calculate abnormal rates
        test1_abnormal_rate = (pivot_df[test1] == 'abnormal').mean() * 100
        test2_abnormal_rate = (pivot_df[test2] == 'abnormal').mean() * 100
        test3_abnormal_rate = (pivot_df[test3] == 'abnormal').mean() * 100
        test4_abnormal_rate = (pivot_df[test4] == 'abnormal').mean() * 100
        
        # Store the dataframe with metadata
        test_combination_data[combination_name] = {
            'dataframe': pivot_df,
            'test1': test1,
            'test2': test2,
            'test3': test3,
            'test4': test4,
            'patient_count': len(pivot_df),
            'test1_abnormal_rate': test1_abnormal_rate,
            'test2_abnormal_rate': test2_abnormal_rate,
            'test3_abnormal_rate': test3_abnormal_rate,
            'test4_abnormal_rate': test4_abnormal_rate,
            'overall_score': row['Overall_Score']
        }
        
        print(f"   ‚Ä¢ {test1} abnormal rate: {test1_abnormal_rate:.1f}%")
        print(f"   ‚Ä¢ {test2} abnormal rate: {test2_abnormal_rate:.1f}%")
        print(f"   ‚Ä¢ {test3} abnormal rate: {test3_abnormal_rate:.1f}%")
        print(f"   ‚Ä¢ {test4} abnormal rate: {test4_abnormal_rate:.1f}%")
        print(f"   ‚Ä¢ Overall Score: {row['Overall_Score']:.1f}")
    
    return test_combination_data

# Create the test combination dataframes
four_test_combinations = create_four_test_combination_dataframes(df, df_4_test_candidates)

üîç Creating dataframes for each four-test combination...
================================================================================

üìä Processing: Serum Cholesterol + Serum Triglycerides + Serum HDL Cholesterol + Serum LDL Cholesterol
   ‚Ä¢ Test 1 (Serum Cholesterol): 2581 patients
   ‚Ä¢ Test 2 (Serum Triglycerides): 2638 patients
   ‚Ä¢ Test 3 (Serum HDL Cholesterol): 1606 patients
   ‚Ä¢ Test 4 (Serum LDL Cholesterol): 2008 patients
   ‚Ä¢ Common patients: 1568 patients
   ‚Ä¢ Final dataset size: 1684 patients
   ‚Ä¢ Serum Cholesterol abnormal rate: 0.1%
   ‚Ä¢ Serum Triglycerides abnormal rate: 53.1%
   ‚Ä¢ Serum HDL Cholesterol abnormal rate: 37.0%
   ‚Ä¢ Serum LDL Cholesterol abnormal rate: 68.3%
   ‚Ä¢ Overall Score: 87.8

üìä Processing: TSH + Serum Creatinine + Total Serum Bilirubin + Blood Glucose
   ‚Ä¢ Test 1 (TSH): 10017 patients
   ‚Ä¢ Test 2 (Serum Creatinine): 7650 patients
   ‚Ä¢ Test 3 (Total Serum Bilirubin): 4371 patients
   ‚Ä¢ Test 4 (Blood Glucose): 7664 patients
   ‚Ä¢ Common patients: 1956 patients
   ‚Ä¢ Final dataset size: 1937 patients
   ‚Ä¢ TSH abnormal rate: 24.1%
   ‚Ä¢ Serum Creatinine abnormal rate: 38.0%
   ‚Ä¢ Total Serum Bilirubin abnormal rate: 0.0%
   ‚Ä¢ Blood Glucose abnormal rate: 0.0%
   ‚Ä¢ Overall Score: 67.4

In [16]:
import os

# Create the directory if it doesn't exist
output_dir = "4_tests_data"
os.makedirs(output_dir, exist_ok=True)

print("üìÅ Exporting four-test combination datasets...")
print("=" * 80)

# Export each four-test combination dataset
for combination_name, data_info in four_test_combinations.items():
    # Clean the combination name for filename (replace special characters)
    clean_name = combination_name.replace(" + ", "_").replace(" ", "_").replace("(", "").replace(")", "")
    filename = f"{clean_name}_dataset.csv"
    filepath = os.path.join(output_dir, filename)
    
    # Get the dataframe and add Result columns
    df_export = data_info['dataframe'].copy()
    
    # Get original data for this combination to extract Results
    test1 = data_info['test1']
    test2 = data_info['test2']
    test3 = data_info['test3']
    test4 = data_info['test4']
    patient_list = df_export['Patient Name'].unique()
    
    # Get results for all four tests
    test1_results = df[(df['Standard Test Name'] == test1) & (df['Patient Name'].isin(patient_list))][['Patient Name', 'Result']].rename(columns={'Result': f'{test1}_Result'})
    test2_results = df[(df['Standard Test Name'] == test2) & (df['Patient Name'].isin(patient_list))][['Patient Name', 'Result']].rename(columns={'Result': f'{test2}_Result'})
    test3_results = df[(df['Standard Test Name'] == test3) & (df['Patient Name'].isin(patient_list))][['Patient Name', 'Result']].rename(columns={'Result': f'{test3}_Result'})
    test4_results = df[(df['Standard Test Name'] == test4) & (df['Patient Name'].isin(patient_list))][['Patient Name', 'Result']].rename(columns={'Result': f'{test4}_Result'})
    
    # Merge results back to the export dataframe
    df_export = df_export.merge(test1_results, on='Patient Name', how='left')
    df_export = df_export.merge(test2_results, on='Patient Name', how='left')
    df_export = df_export.merge(test3_results, on='Patient Name', how='left')
    df_export = df_export.merge(test4_results, on='Patient Name', how='left')
    
    # Map Lab to Location
    df_export['Location'] = df_export['Lab'].apply(lambda x: 'Sulaymaniyah' if x == 'Darugha' else 'Halabja')
    
    # Drop the Lab column
    df_export = df_export.drop('Lab', axis=1)
    
    # Reorder columns to have Location after Gender
    cols = df_export.columns.tolist()
    # Remove Location from its current position
    cols.remove('Location')
    # Find Gender position and insert Location after it
    gender_idx = cols.index('Gender')
    cols.insert(gender_idx + 1, 'Location')
    df_export = df_export[cols]
    
    # Remove duplicates before exporting
    initial_count = len(df_export)
    df_export = df_export.drop_duplicates()
    final_count = len(df_export)
    duplicates_removed = initial_count - final_count
    
    # Export the dataframe
    df_export.to_csv(filepath, index=False, encoding='utf-8')
    
    print(f"‚úÖ Exported: {combination_name}")
    print(f"   üìÑ File: {filename}")
    print(f"   üìä Initial patients: {initial_count}")
    print(f"   üóëÔ∏è Duplicates removed: {duplicates_removed}")
    print(f"   üìä Final patients: {final_count}")
    print(f"   üî¨ Test 1 ({data_info['test1']}): {data_info['test1_abnormal_rate']:.1f}% abnormal")
    print(f"   üî¨ Test 2 ({data_info['test2']}): {data_info['test2_abnormal_rate']:.1f}% abnormal")
    print(f"   üî¨ Test 3 ({data_info['test3']}): {data_info['test3_abnormal_rate']:.1f}% abnormal")
    print(f"   üî¨ Test 4 ({data_info['test4']}): {data_info['test4_abnormal_rate']:.1f}% abnormal")
    print(f"   üìà Overall Score: {data_info['overall_score']:.1f}")
    print(f"   üìç Location mapping: Lab -> {'Sulaymaniyah/Halabja' if len(df_export['Location'].unique()) > 1 else df_export['Location'].iloc[0]}")
    print()

print(f"üéâ All four-test combination datasets exported to '{output_dir}' folder!")
print(f"üìã Total datasets exported: {len(four_test_combinations)}")

# Display summary of exported files
print("\nüìã EXPORTED FILES SUMMARY:")
print("-" * 60)
for i, (combination_name, data_info) in enumerate(four_test_combinations.items(), 1):
    clean_name = combination_name.replace(" + ", "_").replace(" ", "_").replace("(", "").replace(")", "")
    filename = f"{clean_name}_dataset.csv"
    print(f"{i}. {filename} ({data_info['patient_count']} patients, Score: {data_info['overall_score']:.1f})")

üìÅ Exporting four-test combination datasets...
================================================================================
‚úÖ Exported: Serum Cholesterol + Serum Triglycerides + Serum HDL Cholesterol + Serum LDL Cholesterol
   üìÑ File: Serum_Cholesterol_Serum_Triglycerides_Serum_HDL_Cholesterol_Serum_LDL_Cholesterol_dataset.csv
   üìä Initial patients: 1536609
   üóëÔ∏è Duplicates removed: 965036
   üìä Final patients: 571573
   üî¨ Test 1 (Serum Cholesterol): 0.1% abnormal
   üî¨ Test 2 (Serum Triglycerides): 53.1% abnormal
   üî¨ Test 3 (Serum HDL Cholesterol): 37.0% abnormal
   üî¨ Test 4 (Serum LDL Cholesterol): 68.3% abnormal
   üìà Overall Score: 87.8
   üìç Location mapping: Lab -> Halabja

‚úÖ Exported: TSH + Serum Creatinine + Total Serum Bilirubin + Blood Glucose
   üìÑ File: TSH_Serum_Creatinine_Total_Serum_Bilirubin_Blood_Glucose_dataset.csv
   üìä Initial patients: 41540
   üóëÔ∏è Duplicates removed: 31516
   üìä Final patients: 10024
   üî¨ Test 1 (TSH): 24.1% abnormal
   üî¨ Test 2 (Serum Creatinine): 38.0% abnormal
   üî¨ Test 3 (Total Serum Bilirubin): 0.0% abnormal
   üî¨ Test 4 (Blood Glucose): 0.0% abnormal
   üìà Overall Score: 67.4
   üìç Location mapping: Lab -> Halabja

üéâ All four-test combination datasets exported to '4_tests_data' folder!
üìã Total datasets exported: 2

üìã EXPORTED FILES SUMMARY:
------------------------------------------------------------
1. Serum_Cholesterol_Serum_Triglycerides_Serum_HDL_Cholesterol_Serum_LDL_Cholesterol_dataset.csv (1684 patients, Score: 87.8)
2. TSH_Serum_Creatinine_Total_Serum_Bilirubin_Blood_Glucose_dataset.csv (1937 patients, Score: 67.4)